


.InfoCardContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    gap: 40px;
}

.ImageContainer {
    width: 150px;
    height: 150px;
    position: relative;

    & > img {
        border-radius: 5%;
    }

}

.DescriptionContainer {
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 0.5em;

    & > :nth-child(2) {
        font-style: italic;
        color: rgb(94, 149, 22);
        
    }

    & > :nth-child(3) {
        & > ul {
            margin-left: 20px;
        }
        
    }
}

.IconContainer {
    display: flex;
    gap: 10px;
}

.Icon {
    :hover {
        cursor: pointer;
    }
}


@keyframes fadeInUp {
    from {
        transform: translate3d(0, 20px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 20px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 5s;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.InfoCardOverallContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    opacity: 0;
}