$navbar-height: 65px;
$navbar-small-icon-animation-duration: 0.5s;
:export {
    navbar-height: $navbar-height;
}

.NavbarContainer {
    display: flex;
    width: 100vw;
    padding: 0 40px 0 20px;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 10;
    // background-color: #1b1b1b;
    height: $navbar-height;
    color: white;
    font-size: 1.25rem;

}

.NavbarScrollRender {
    background-color: #1b1b1b;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,.2), 0px 2px 2px 0px rgba(0,0,0,.14), 0px 1px 5px 0px rgba(0,0,0,.12);
}


.NavLinksContainer {
    display: flex;
}

.NavLinksBox1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;;
    // margin-right: 3rem;
    gap: 16px;
    white-space: nowrap;
    font-size: 1rem;
}

.NavLinksBoxSmall1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.5px solid grey;
    padding: 10px;
    border-radius: 5px; 
    background: white;
}

@keyframes CrossTop {
    0% {  }
    100% { transform: translate(-2px, 4px) rotate(45deg); }
}

@keyframes CrossBottom {
    0% {  }
    100% { transform: translate(0px, -3px) rotate(-45deg); }
}

@keyframes RevertTop {
    0% { transform: translate(-2px, 4px) rotate(45deg);  }
    100% {  }
}

@keyframes RevertBottom {
    0% { transform: translate(0px, -3px) rotate(-45deg); }
    100% { }
}

.lineTop {
    width: 20px;
    height: 8px;
    border-top: 3px solid black;


}

.lineTopBecomeCross {
    animation: CrossTop $navbar-small-icon-animation-duration;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.lineTopRevert {
    animation: RevertTop $navbar-small-icon-animation-duration;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.lineBtmBecomeCross {
    animation: CrossBottom $navbar-small-icon-animation-duration;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.lineBtmRevert {
    animation: RevertBottom $navbar-small-icon-animation-duration;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.lineBottom {
    width: 20px;
    border-top: 3px solid black;

}

.NavLinksBox2 {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.ButtonLink {
    background-color: rgba(11, 192, 220);
    color: white;
    font-weight: 700;
    padding: 8px;
    white-space: nowrap;
}

.NameBox {
    display: flex;
    align-items: center;
}

.NavLinksSmallOverlay {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100vh - $navbar-height);
    width: 100vw;
    z-index: 9;
    position: fixed;
    top: $navbar-height;
    left: 0;
    background: black;
    opacity: 0.9;
    color: white;
    font-size: 30px;
    font-weight: 700;

}
