
.IconContainer {
    display: flex;
    gap: 10px;
    :hover {
        cursor: pointer;
    }
    & > span {
        color: #0c10df;
        font-weight: 600;
        font-size: 1rem;
        
    }
}

.Icon {
    :hover {
        cursor: pointer;
    }
}
